<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blank template</title>
	<meta http-equiv="expires" content="0">
	<script src="../../lib/mootools.js"></script>             <!-- Important - do not remove! -->
	<script src="../../lib/presentation.js"></script>         <!-- Important - do not remove! -->
	<link href="../../lib/presentation.css" rel="stylesheet"> <!-- Important - do not remove! -->
	<base target="_blank">
</head>
<body>

<div id="hide"></div>                  <!-- Important - do not remove or rename! -->

<div id="Pik6-presentation-container"> <!-- Important - do not remove or rename! -->

<div class="pik6-slide">
<h1>First slide</h1>
<p>First slide content</h2>
</div>

<div class="pik6-slide">
<h1>Second slide</h1>
<p>Second slide content</h2>
</div>

</div> <!-- End #Pik6-presentation-container -->
</body>
</html>
