/*
 * Pik6 fancy theme demonstration
 * ------------------------------
 *
 * As long as your slides have SOME kind of interesting content, you really don't need
 * eye cancer-inducing slide transitions... but this file shows you how to make them,
 * just in case. It requires a bit of CSS3 voodoo but works quite well in combination
 * with the default style. Include the file, add the class `fancy` to yout body element,
 * done! Note the lack of vendor prefixes; prefix-free takes care of that.
 *
 * To get the transitions to work, add the class `fancy` to your `<html>` element.
 */

@media screen, projection {

/* For general font and color styles */
body.fancy {
	font-size: 0.9em;
	background: #141821 !important;
}

/* General slide styles */
.fancy .pik-slide {
	border-radius: 1em;
	background: white;
	box-shadow: 0 0 2em #000;
	box-sizing: border-box;
	padding: 0 1.5em;
}

/* The following rules overwrite defaults from lib/presentation.css to make room for the
   box shadow and other effects */
.fancy .pik-slide {
	top: 2%;
	left: 2%;
	height: 96%;
	width: 96%;
}

/* All inactive slides are deposited outside the frame to the left */
.fancy .pik-slide {
	transform: translateX(-200%);
}

/* The active slide is positioned in the middle */
.fancy .pik-slide.pik-current {
	z-index: 9000;
	transform: translateX(0);
}

/* The previous slide moves out of the frame to the left */
.fancy .pik-slide.pik-prev {
	visibility: visible;
	transform: translateX(-100%) scale(0.85);
}

/* The next slide comes into the frame from the right */
.fancy .pik-slide.pik-next {
	visibility: visible;
	transform: translateX(100%) scale(0.85);
}

/* The slide after the next slide comes into the frame from the right too */
.fancy .pik-slide.pik-next ~ .pik-slide {
	visibility: visible;
	transform: translateX(200%) scale(0.70);
}

/* Hide the rest of the slides for performance reasons */
.fancy .pik-slide.pik-next ~ .pik-slide ~ .pik-slide {
	display: none;
}

/* Add a fancy transition */
.fancy .pik-slide {
	transition: transform 750ms, visibility 750ms;
}

} /* End "@media screen, projection" */